<div class="jumbotron">
  <blockquote class="blockquote text-center">
    <h1 class="display-1">Headhunter Web</h1>
    <h1>Seja bem-vindo</h1>
  </blockquote>
</div>

<div>
  <%= link_to 'Cadastrar vagas', new_vacuancy_job_path %>
  <%= link_to 'Minhas vagas cadastradas', vacuancy_jobs_path %>
</div>