<div class="row">
  <div class="col-sm-5">
    <% @vacuancy_jobs.each do |vacuancy| %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= link_to vacuancy.title, 
                                      vacuancy_job_path(vacuancy) %></h3>
          <p class="card-text"><%= CommentOfProposal.human_attribute_name('proposal') %></p>
          <p class="card-text"><%= vacuancy.comment_of_proposals.first.comment %></p>
          <p class="card-text">
            <%= CommentOfProposal.human_attribute_name("status.#{vacuancy.comment_of_proposals.first.status}") %>
          </p>
        </div>
      </div>
      <br/>
    <% end %>
  </div>
</div>