<div class="container">
  <div class="text-center">
    <h1 class="display-3">Vagas de Emprego</h1>
    <br/>
  </div>

  <%= render partial: 'vagas' %>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>