<div class="container">
  <div class="text-center">
    <h1 class="display-3">Minhas Vagas</h1>
    <br/>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <% @vacuancy_jobs.each do |vacuancy_job| %>
        <div class="card">
          <div class="card-body">
            <h3><%= link_to vacuancy_job.title, vacuancy_job_path(vacuancy_job) %></h3>
            <p><%= vacuancy_job.description %></p>
          </div>
        <div>
        <br/>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>